<h1>Список дней {{ month }} месяца {{ year }} года</h1>

<form method="get">
    <label for="month">Выберите месяц:</label>
    <input type="number" id="month" name="month" min="1" max="12" value="{{ month }}">
    <button type="submit">Показать</button>
</form>

<div>
    <a href="{{ path('calendar', { view: 'table', month: month }) }}">Вернуться к таблице</a> |
    <a href="{{ path('calendar', { view: 'weekends', month: month }) }}">Вид с выделением выходных</a>
</div>

<ul>
    {% for day in calendar %}
            {% if day is not null %}
                    <li>{{ day.date|date("l, j F") }}</li>
            {% endif %}
    {% endfor %}
</ul>
